@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 992px) {
  .position-lg-absolute {
    position: absolute;
  }

  .start-lg-50 {
    left: 50%;
  }

  .translate-middle-lg-x {
    transform: translateX(-50%);
  }
}
